# Dependencies
node_modules
compose.yaml

# Environment variables
.env
.env.*
!.env.example

# Build output
dist

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing / coverage
coverage
.nyc_output

# IDE / editor
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp